<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Menu</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('components/_header', { page: '/menus' }) %>

    <h3>Edit Menu</h3>

    <%- include('components/_validationError') %>

    <form method="post">
      <p>
        <label for="name">Name</label> <br />
        <input type="text" name="name" id="name" value="<%= menu.name %>" />
      </p>

      <p>
        <label for="CategoryId">Category</label> <br />
        <select name="CategoryId" id="CategoryId">
          <option value="">-- Select Category --</option>
          <% categories.forEach(({id, name}) => { %>
          <option value="<%= id %>" <%= id == menu.CategoryId ? 'selected' : '' %>><%= name %></option>
          <% }) %>
        </select>
      </p>

      <p>
        <label for="stock">Stock</label> <br />
        <input
          type="number"
          name="stock"
          id="stock"
          value="<%= menu.stock %>"
        />
      </p>

      <p>
        <label for="price">Price</label> <br />
        <input
          type="number"
          name="price"
          id="price"
          value="<%= menu.price %>"
        />
      </p>

      <p>
        <label for="createdAt">Created At</label> <br />
        <input type="date" name="createdAt" id="createdAt" value="2024-10-24" />
      </p>

      <p>
        <button type="submit">Save</button>
      </p>
    </form>
  </body>
</html>
